#tooltip {
  background-color:rgba(20,20,20,0.75);
  pointer-events: none;
  font-size: 12px;
  z-index: 1000;
  color: #665;
  position: fixed;
  width: 450px;
  border-radius: 6px;
  border-color: #665;
  opacity: 0;
  bottom: 7%;
  left: 15%;
}

path.chord {
  -webkit-backface-visibility: hidden;
  fill-opacity: .67;
  stroke: none;
}

text, .group path {
  cursor: pointer;
}

input[type="radio"] {
  margin: 0px;
}

.years {
  height: 700px;
  overflow: scroll;
}

aside {
  margin: 0px;
}
.dragdealer {
	height: 28px;
	background: #111;
	z-index: 8;
}
.dragdealer .handle {
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 20;
}
.orange-bar {
	width: 75px;
	height: 28px;
	background: #665;
	color: #222;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	z-index: 20;
}
.orange-bar:hover {
	background: #997
}
.dragdealer .disabled {
	background: #898989
}